body {
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    color: black;
}

video.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    display: block;
    opacity: 0.8;
}

#container {
    text-align: center;
    border: 1px solid black;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

.subfolder {
    max-height: 300px;
    list-style: none;
    margin: 10px 0 0 0;
    display: none;
    border-left: 1px solid black;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 10px 0 4px;
    box-sizing: border-box;
    scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
  flex: 1;
}

.subfolder::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.fake-scrollbar {
  width: 8px;
  background: rgba(0,0,0,0.1);
  border-radius: 4px;
  margin-left: 2px;
  position: relative;
  cursor: pointer;
}

.fake-scrollbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* Anfangshöhe, wird per JS angepasst */
  background: black;
  border-radius: 4px;
  transition: background 0.3s;
}

.fake-scrollbar:hover::before {
  background: #444;
}


header h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 4em;
    margin: 0;
}

header h1 a {
    text-decoration: none;
}

header h1 a:hover {
    text-decoration: underline;
}

header h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    margin: 10px 0;
}

header h2 a {
    text-decoration: none;
}

.folder {
    list-style: none;
    margin: 0;
    padding: 0;
}

.folder-item {
    text-align: left;
}

.folder-icon {
    margin-right: 5px;
    cursor: pointer;
}

.subfolder li {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-top: 1px solid black;
}

.subfolder li .description {
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 10px;
}

/* Klickbare Links */
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.folder-item.open > .folder-icon {
    content: "📂";
}

.folder-item.open .subfolder {
    display: block;
} 
@media (max-width: 768px) {
    #container {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    }

    header h1 {
        font-size: 3em; 
    }

    header h2 {
        font-size: 1em; 
    }
}
